In [1]:
#create a dataframe having the attributes car id car name and it should contain five values need to be inputed

In [49]:
import pandas as pd
import numpy as np
cars={"id":[1,2,3,4,5],"name":["benz","audi","chinni","lo",None]}#in python we dont have null valuw we will have only none
cars=pd.DataFrame(cars)
print(cars)
cars.isnull()
#index["a","b","c"]
#cars.setindex("usn")

   id    name
0   1    benz
1   2    audi
2   3  chinni
3   4      lo
4   5    None

      id   name
0  False  False
1  False  False
2  False  False
3  False  False
4  False   True

In [52]:
#setting label for (0,0) cell
#changing name or labels of rhe rows
print(cars.dropna())
print(cars.dropna(axis=1))

   id    name
0   1    benz
1   2    audi
2   3  chinni
3   4      lo
   id
0   1
1   2
2   3
3   4
4   5

/var/folders/j2/7vzyj65535sdpxn_vd38sncm0000gn/T/ipykernel_2689/1213153250.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  print(cars.dropna(False))

In [41]:
newdf=cars['id']>3

In [43]:
newdf

0    False
1    False
2    False
3     True
4     True
Name: id, dtype: bool

In [45]:
type(newdf)

pandas.core.series.Series

In [46]:
cars[newdf]

   id  name
3   4    lo
4   5  None

In [ ]:
#in python there sould be &,| instead og and and or